
@{
    Layout = null;

}

<!DOCTYPE HTML>
<html>
<head>
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="@Url.Content("~/Content/myadmin/")css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Custom Theme files -->
    <link href="@Url.Content("~/Content/myadmin/")css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--js-->
    <script src="@Url.Content("~/Content/myadmin/")js/jquery-2.1.1.min.js"></script>
    <!--icons-css-->
    <link href="@Url.Content("~/Content/myadmin/")css/font-awesome.css" rel="stylesheet">
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <!--static chart-->
</head>
<body>

    @{
        if (ViewBag.login != null)
        {
            <script>
                alert("login");
            </script>

        }

    }


    <div class="login-page">
        <div class="login-main">
            <div class="login-head">
                <h1>Reset Password</h1>
            </div>
            <div class="login-block">
                <form id="resetform">
                    <input type="email" name="emailR" id="emailR" placeholder="Email" required value="@ViewBag.email" disabled>
                    <input type="password" name="newPasswordR" id="newPasswordR" placeholder="New Password" required >
                    <input type="password" name="conPasswordR" id="conPasswordR" placeholder="Confirm Password" required >

                    <h4 style="text-align:center; color:red; padding-bottom:0px; padding-top:-20px; font:cursive" id="validate"> </h4>
                    <input type="submit" onclick="resetPass()" value="Reset Password">
                </form>

            </div>
        </div>
    </div>
    <!--inner block end here-->
    <!--copy rights start here-->
    <div class="copyrights">
        <p>&copy; @DateTime.Now.Year Electronic Store. All rights reserved | Developed by <a target="_blank" href="https://www.linkedin.com/in/zain-asghar-3b2683142/">PAKtech Solutions</a></p>

    </div>
    <!--COPY rights end here-->
    <!--scrolling js-->
    <script src="@Url.Content("~/Content/myadmin/")js/jquery.nicescroll.js"></script>
    <script src="@Url.Content("~/Content/myadmin/")js/scripts.js"></script>
    <!--//scrolling js-->
    <script src="@Url.Content("~/Content/myadmin/")js/bootstrap.js"> </script>
    <!-- mother grid end here-->
</body>
</html>

<script>

    function resetPass() {

        var email = $("#emailR").val()
        var pass = $("#newPasswordR").val()
        var cpass = $("#conPasswordR").val()
       
        var $myForm = $('#resetform');

        if (!$myForm[0].checkValidity()) {
            // If the form is invalid, submit it. The form won't actually submit;
            // this will just cause the browser to display the native HTML5 error messages.
            $myForm.find(':submit').click();
        }

        if(pass !== cpass)
        {
            $("#validate").text("Password Miss Match!");
            return false;
        }

        var d = { "email": email, "pass": pass };

        var settings = {
            type: "POST",
            dataType: "json",
            url: "/Admin/ResetPassAjax",
            data: d,
            success: function (resp) {
                if (resp.valid == true)
                {
                    $("#validate").text(resp.message);
                    setTimeout(
                          function () {
                              //do something special
                              location.href = resp.url;

                          }, 1000);
                }

                
            },
            error: function (e) {
                alert("error");
                //somethin went wrong
            }
        };

        $.ajax(settings);//asynchronous*/

        return false;

    }

</script>
