
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <!--live search-->
    <script src="~/Content/AutoComplete/jquery.js"></script>




    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Electronic Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- Custom Theme files -->
   

     <link href="@Url.Content("~/Content/mytemplate/")css/main.css" rel="stylesheet"> 

    <link href="@Url.Content("~/Content/mytemplate/")css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/mytemplate/")css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/mytemplate/")css/fasthover.css" rel="stylesheet" type="text/css" media="all" />

    <link href="@Url.Content("~/Content/mytemplate/")css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link href="@Url.Content("~/Content/mytemplate/")css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->

    <script src="@Url.Content("~/Content/mytemplate/")js/jquery.min.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/jquery.countdown.css" /> <!-- countdown -->
    <!-- //js -->
    <!-- web fonts
    <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- //web fonts -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
    </script>
    <!-- //end-smooth-scrolling -->
    <!--ajax calls-->
    <script src="@Url.Content("~/Scripts/myAjaxCallsUser.js")"></script>

    <!--Google recaptcha-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
    <!--live search-->
    <link href="~/Content/AutoComplete/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/AutoComplete/jquery-ui.js"></script>
</head>


<style type="text/css">

    #box{
        width: 26px;
        height: 23px;
        background: #ff5063;
        position: fixed;
        z-index: 9999;
        top:33px;
        border-radius: 10px;
        display:none;
        
        
    }
    #number{
        text-align: center;
        color: 	#FFFFFF;
        font:icon;
        padding-top:3px;
    }    
</style>




<body onload="cartCount()">
    <!-- header modal -->
  
    
    @{
        if (Session["User"] != null)
        {
            WebApplication1.Models.User u = (WebApplication1.Models.User)Session["User"];

            <div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="width:90%">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Wellcom to our website!</h4>
                        </div>
                        <div class="modal-body modal-body-sub">
                            <div class="row">
                                <div class="col-md-8 modal_body_left modal_body_left1" >

                                    <div class="sap_tabs">
                                        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                                            <ul>
                                                <li class="resp-tab-item" aria-controls="tab_item-0"><span>@u.Nmae</span></li>
                                                <li class="resp-tab-item" aria-controls="tab_item-1"><span>Update Password</span></li>

                                                
                                            </ul>
                                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                                <div class="facts">
                                                    <div class="register">
                                                        <form >
                                                            <input style="width: 100%" name="email" placeholder="Email Address" type="text" required="" value="@u.Email" disabled>
                                                            
                                                            <div class="sign-up">
                                                                <input id="btn_logout" type="submit" value="Logout" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
                                                <div class="facts">
                                                    <div class="register">
                                                        <form id="changepassform">
                                                            <input id="CurrentPass" placeholder="Current Password" name="Nmae" type="password" required="">
                                                            <div class="form-group has-feedback" id="passcheck">
                                                                <input id="NewPass" placeholder="New Password" name="Email" type="password" required="">
                                                                <span class="help-block has-error" id="passerror"></span>
                                                            </div>
                                                                <input id="ConfirmPass" placeholder="Confirm Password" name="Password" type="password" required="">
                                                                <div class="sign-up">
                                                                    <h4 id="s_output" style="text-align:center; color:red; padding-bottom:0px; padding-top:15px"></h4>
                                                                    <input id="btn_updatePass" type="submit" value="Update Password" onclick=updatePassword() />
                                                                </div>
</form>
                                                    </div>
                                                </div>
                                            </div>



                                           
                                        </div>
                                    </div>
                                    <script src="@Url.Content("~/Content/mytemplate/")js/easyResponsiveTabs.js" type="text/javascript"></script>
                                    <script type="text/javascript">
								$(document).ready(function () {
									$('#horizontalTab').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion
										width: 'auto', //auto or any width like 600px
										fit: true   // 100% fit in a container
									});
								});
                                    </script>
                                    
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- header modal -->
        }
        else
        {

            <div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Don't Wait, Login now!</h4>
                        </div>
                        <div class="modal-body modal-body-sub">
                            <div class="row">
                                <div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">

                                    <div class="sap_tabs">
                                        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                                            <ul>
                                                <li class="resp-tab-item" aria-controls="tab_item-0"><span>Sign in</span></li>
                                                <li class="resp-tab-item" aria-controls="tab_item-1"><span>Sign up</span></li>
                                            </ul>
                                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                                <div class="facts">
                                                    <div class="register">
                                                        <form id="loginform" >
                                                            <div class="form-group has-feedback" id="check01">
                                                                <input id="l_email" name="email" placeholder="Email Address" type="text" required value="">
                                                                <span class="help-block has-error" id="emailError01"></span>
                                                             </div>

                                                                <input id="l_pass" name="password" placeholder="Password" type="password" required>
                                                                <div class="sign-up">
                                                                    <h4 style="text-align:center; color:red; padding-bottom:0px; padding-top:15px" id="l_output"> </h4>
                                                                    <input id="btn_login" type="submit" value="Sign in" />
                                                                </div>
</form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
                                                <div class="facts">
                                                    <div class="register">
                                                        <form id="signupform">
                                                            <input id="s_name" placeholder="Name" name="Nmae" type="text" required="">
                                                            
                                                            <div class="form-group has-feedback" id="check1">
                                                              
                                                                <input id="s_email" placeholder="Email Address" name="Email" type="email" required="">
                                                                <span class="help-block has-error" id="emailError"></span>
                                                             </div>
                                                            <div class="form-group has-feedback" id="check2">
                                                                <input id="s_pass" placeholder="Password" name="Password" type="password" required="">
                                                                <span class="help-block has-error" id="passwordError1"></span>
                                                            </div>
                                                                
                                                                    <input id="s_cpass" placeholder="Confirm Password" name="CPassword" type="password" required="">
                                                                    
                                                                    <div class="sign-up">
                                                                        <h4 id="s_output" style="text-align:center; color:red; padding-bottom:0px; padding-top:15px"></h4>
                                                                        <input id="btn_singup" type="submit" value="Create Account" />
                                                                    </div>
</form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script src="@Url.Content("~/Content/mytemplate/")js/easyResponsiveTabs.js" type="text/javascript"></script>
                                    <script type="text/javascript">
								$(document).ready(function () {
									$('#horizontalTab').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion
										width: 'auto', //auto or any width like 600px
										fit: true   // 100% fit in a container
									});
								});
                                    </script>
                                    <div id="OR" class="hidden-xs">OR</div>
                                </div>
                                <div class="col-md-4 modal_body_right modal_body_right1">
                                    <div class="row text-center sign-with">
                                        <div class="col-md-12">
                                            <h3 class="other-nw">Sign in with</h3>
                                        </div>
                                        <div class="col-md-12">
                                            <ul class="social">
                                                <li class="social_facebook"><a href="#" class="entypo-facebook"></a></li>
                                                <li class="social_dribbble"><a href="#" class="entypo-dribbble"></a></li>
                                                <li class="social_twitter"><a href="#" class="entypo-twitter"></a></li>
                                                <li class="social_behance"><a href="#" class="entypo-behance"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- header modal -->

        }
    }

   
    <!-- header -->
    <div class="header" id="home1">
        <div class="container">
            <div class="w3l_login">
                <a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
            </div>
            <div class="w3l_logo">
                <h1><a href="index">Electronic Store<span>Your stores. Your place.</span></a></h1>
            </div>
            <div class="search">
                <input class="search_box" type="checkbox" id="search_box">
                <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
                <div class="search_form">
                    <form action='@Url.Content("~/Home/Products0")' method="post">


                        <input type="text" name="Search" placeholder="Search..." id="liveSearch" required>
                        <input type="submit" value="Send">


                    </form>
                </div>
            </div>


            <div class="cart cart box_1" >
                    <button onclick= checkOut() style="margin-left:-10px" class="w3view-cart" type="button" name="submit" value="">
                
                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        <i id="box"><span id="number"></span></i>
                    </button>
                
            </div>
        </div>
    </div>
    <!-- //header -->



    <div>
        @RenderBody()
    </div>




    <!-- newsletter -->
    <div class="newsletter">
        <div class="container">
            <div class="col-md-6 w3agile_newsletter_left">
                <h3>Newsletter</h3>
                <p>Subscribe us to keep up to date with our daily offers.</p>
            </div>
            <div class="col-md-6 w3agile_newsletter_right">
                <form >
                    <input type="email" id="news_email" name="Email" placeholder="Email" required="">
                    <input id="btn_newsletter" value="" type="submit"  />
                </form>
                
                <h4 style="text-align:center; color:white; padding-right:330px; padding-top:15px; font:caption" id="output"> </h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //newsletter -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3_footer_grids">
                <div class="col-md-3 w3_footer_grid">
                    <h3>Contact</h3>
                    <p>Please Vist our stores</p>
                    <ul class="address">
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>G.T Road Okara Cantt <span>Okara, Pakistan.</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:xainasghar786@gmail.com">xainasghar786@gmail.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+923454678744</li>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Information</h3>
                    <ul class="info">
                        <li><a href="/Home/About">About Us</a></li>
                        <li><a href="/Home/Mail">Contact Us</a></li>
                       <!-- <li><a href="/Home/Products">Special Products</a></li>-->
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Category</h3>
                    <ul class="info" id="mainCatagories">


                       
                    
                    
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Profile</h3>
                    <ul class="info">
                        <li><a href="/Home/Index">Home</a></li>
                       <!-- <li><a href="/Home/Products">Today's Deals</a></li>-->
                    </ul>
                    <h4>Follow Us</h4>
                    <div class="agileits_social_button">
                        <ul>
                            <li><a href="#" class="facebook"> </a></li>
                            <li><a href="#" class="twitter"> </a></li>
                            <li><a href="#" class="google"> </a></li>
                            <li><a href="#" class="pinterest"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-copy">
            <div class="footer-copy1">
                <div class="footer-copy-pos">
                    <a href="#home1" class="scroll"><img src="@Url.Content("~/Content/mytemplate/")images/arrow.png" alt=" " class="img-responsive" /></a>
                </div>
            </div>
            <div class="container">
                <p>&copy; @DateTime.Now.Year Electronic Store. All rights reserved | Developed by <a target="_blank" href="https://www.linkedin.com/in/zain-asghar-3b2683142/">PAKtech Solutions</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
 
</body>
</html>


<script type="text/javascript">
    function checkOut() {

        location.href = "/Home/Cart";
    }

    function cartCount() {//getting cart count and Main Catagories at footer

        var d = null;

        var settings = {
            type: "POST",
            dataType: "json",
            url: "/Home/GetCartQuantityAjax",
            data: d,
            success: function (resp) {
                if (resp.valid == true)
                {
                    $("#mainCatagories").html("");

                    $.each(resp.categories, function (index, element) {
                        $('#mainCatagories').append(
                            $('<li>').append(
                            $('<a>').attr('href','/Home/Products/'+element.C_id).append(element.Name)

                        ));
                    });
                }


                if (resp.count != null) {
                    //document.getElementById('number').innerHTML = resp.count;
                    $("#number").text(resp.count);

                    if(resp.count != 0)
                    {
                        $("#box").show();
                    }
                    else {
                        $("#box").hide();

                    }
                }

            },
            error: function (e) {
                alert("error");
                //somethin went wrong
            }
        };

        $.ajax(settings);//asynchronous

        return false;

        $(document).ready(function () {
            var d = null;

            var settings = {
                type: "POST",
                dataType: "json",
                url: "/Admin/GetMainCategoryAjax",
                data: d,
                success: function (resp) {
                    if (resp.valid == true) {
                        //console.log(resp.mail);
                        //side bar orders
                        $("#reg").text(resp.regUser);
                        $("#follow").text(resp.followers);
                        $("#newMess").text(resp.newMessage);

                        /* $("#sale").val(resp.CurrentMonthsale);
                         $("#orders").val(resp.CurrentMonthOrders);
                         $("#profit").val(resp.CurrentMonthProfit);
                         $("#loss").val(resp.CurrentMohthloss);*/

                    }
                },
                error: function (e) {
                    alert("errorrrr");
                    //somethin went wrong
                }
            };

            $.ajax(settings);//asynchronous

            return false;

        });


    }


    //live search
    $(document).ready(function () {
        $('#liveSearch').autocomplete({
            source: '@Url.Action("SearchLive")'

        });
    });

</script>




<script>
    //signup validations
    $(document).ready(function () {



        $("#emailError").hide();
        $("#emailError01").hide();//login

            $("#passwordError1").hide();
            $("#passwordError1").hide();


            $("#l_email").focusout(function () {//login
                check_Email_lgin();
            });
            $("#s_email").focusout(function () {
                check_Email_su();
            });
            $("#s_pass").focusout(function () {
                check_Pasword_su_n();
            });
            $("#NewPass").focusout(function () {
                check_Pasword_su_change();
            });



    });



    function check_Email_lgin() {

        var userEmail = $("#l_email").val();
        var emailReg = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        var valid = emailReg.test(userEmail);

        if (valid) {
            $("#check01").removeClass("help-block has-error").addClass("help-block has-success");
            $("#emailError01").hide();
        }
        else {
            $("#check01").removeClass("form-group").addClass("form-group has-error");
            $("#emailError01").html("Invalid Email Address");
            $("#emailError01").show();

            //emailerror = true;

        }
    };



    function check_Email_su() {

        var userEmail = $("#s_email").val();
         var emailReg = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        var valid = emailReg.test(userEmail);

        if (valid) {
            $("#check1").removeClass("help-block has-error").addClass("help-block has-success");
            $("#emailError").hide();
        }
        else {
            $("#check1").removeClass("form-group").addClass("form-group has-error");
            $("#emailError").html("Invalid Email Address");
            $("#emailError").show();

            //emailerror = true;

        }
    };

    function check_Pasword_su_n() {

        var userPassword = $("#s_pass").val().length;

        if (userPassword < 5) {
            $("#passwordError1").html("Should be at least 5 Characters long")
            $("#passwordError1").show();

            $("#check2").removeClass("form-group has-feedback").addClass("form-group has-error");
            //passworderror = true;
        }
        else {
            $("#check2").removeClass("form-group has-error").addClass("form-group has-success");
            $("#passwordError1").hide();
        }
    };


    function check_Pasword_su_change() {

        var userPassword = $("#NewPass").val().length;

        if (userPassword < 5) {
            $("#passerror").html("Should be at least 5 Characters long")
            $("#passerror").show();

            $("#passcheck").removeClass("form-group has-feedback").addClass("form-group has-error");
            //passworderror = true;
        }
        else {
            $("#passcheck").removeClass("form-group has-error").addClass("form-group has-success");
            $("#passerror").hide();
        }
    };




</script>





